body {
    margin: 0;
    padding: 0;
    background: black;
  }
  
  .eyes {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-50%);
    width: 100%;
  }

  .eye {
    width: 120px;
    height: 60px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .ball {
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
.head {
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    height: 500px;
    width: 500px;
    /* top: 50%;
    left: 50%; */
}  
.mouth {
    background-color: darksalmon;
    border: 3px solid darkred;
    position: absolute;
    height: 75px;
    width: 250px;
    top: 65%;
    left: 25%;
    border-radius: 5% 5% 50% 50%
}
.tooth {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50px;

}
.tooth2 {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 175px;
}